.policy h1 {
  scroll-margin-top: 150px;
}
.policy .col-md-6 {
  padding: 70px 35px;
  background-size: cover;
  background-position: center;

  flex: 1;
  color: white;
}

.policy .col-md-6 .h5 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.policy .col-md-6 .desc {
  margin: 40px 0;
  font-size: 14px;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.policy .col-md-6:hover {
  transform: scale(1.1);
  transition: transform ease 0.2s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Gölge ekler */
  padding: 20px;
  border-radius: 10px;
}
.row:nth-child(1) .col-md-6:nth-child(1) {
  background-image: url(../../img/campaigns/banner3.png);
}

.row:nth-child(1) .col-md-6:nth-child(2) {
  background-image: url(../../img/campaigns/banner4.png);
  color: gray;
}

@media (max-width: 768px) {
  .policy .col-md-6 {
    width: 100%;
    flex: unset !important;
  }
}
